.About{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #ccc;
    img{
        width: 450px;
        height: 650px;
        background-image: url("/Users/rickyanchores/Desktop/DevRicky/Project React/React Portfolio/myportfolio/src/images/me2.jpg");
        background-size: cover;
        background-position: center;
    }
    .txt-about{
        font-size: 1.5em;
        padding: 1em;

        ul{
            list-style: none;
            li{
               line-height: 1.4;
            }
        }
    }
}

@media(max-width:700px) {
   .About{
       display: block;
       img{
           width: 100%;
       }
   }

}   