/* COLORS */
$mainBg: #0D1117;
$mainColor: #333;
$secondColor: teal;


.Footer{
    padding: 5em;
    .Contacts{
        display: flex;
        justify-content: center;
        align-items: center;
        .nav-media{
            ul{
                display: flex;
                list-style: none;
                li{
                    margin: 1em;
                    a{
                        text-decoration: none;
                        color: #ccc;
                    }
                    a:hover{
                        color: $secondColor;
                    }
                } 
            }
        }
    }
}