
/* COLORS */
$mainBg: #0D1117;
$mainColor: #333;
$secondColor: teal;


.Header{
    background: $mainBg;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .nav{
        ul{
            list-style: none;
            display: flex;
            li{
                padding: 1em;
            }
        }
    }
    a{
        color: whitesmoke;
        text-decoration: none;
    }
    a:hover{
        color: $secondColor;
    }
}

@media(max-width:700px){
    .Header{
        display: block;
        .nav ul{
            display: block;
        }
    }
}