
.Cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    .card{
        width: 400px;
        background-color: transparent;
        margin: 1em;
        border: 2px solid #333;
        img{
            width: 100%;
            height: 250px;
        }
        .imgA{
            background-image: url("/Users/rickyanchores/Desktop/DevRicky/Project React/React Portfolio/myportfolio/src/images/kahoii.jpg");
            background-size: cover;
        }
        .imgB{
            background-image: url("/Users/rickyanchores/Desktop/DevRicky/Project React/React Portfolio/myportfolio/src/images/zenkana.jpg");
            background-size: cover;
        }
        .imgC{
            background-image: url("/Users/rickyanchores/Desktop/DevRicky/Project React/React Portfolio/myportfolio/src/images/rickolor.jpg");
            background-size: cover;
        }
        .imgD{
            background-image: url("/Users/rickyanchores/Desktop/DevRicky/Project React/React Portfolio/myportfolio/src/images/todoApp.jpg");
            background-size: cover;
            background-position: top;
            background-size: 750px;
        }
        .imgE{
            background-image: url("/Users/rickyanchores/Desktop/DevRicky/Project React/React Portfolio/myportfolio/src/images/Citypx.jpg");
            background-size: cover;
        }
    }
}
