
/* COLORS */
$mainBg: #0D1117;
$mainColor: #333;
$secondColor: teal;


.Showcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    height: 90vh;
    margin-top: -1.5em;
    img{
        background: red;
        width: 200px;
        border-radius: 50%;
        margin: 2em;
    }
    
    h1{
        font-size: 5em;
    }
    h3{
        font-size: 2em;
    }
}