@import "./styles/Header";
@import "./styles/Showcase";
@import "./styles/Projects";


/* FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


/* COLORS */
$mainBg: #0D1117;
$mainColor: #333;
$secondColor: teal;
$txtColor: whitesmoke;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Share Tech Mono', monospace;
    background: $mainBg;
}
.App{
    
    color: $txtColor;
    text-align: center;
}