@import "./styles/Header";
@import "./styles/Showcase";
@import "./styles/Projects";
@import "./styles/About";
@import "./styles/Footer";
@import "./styles/Background";
@import "./styles/Buttons";

/* FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


/* COLORS */
$mainBg: #0D1117;
$mainColor: #333;
$secondColor: teal;
$txtColor: whitesmoke;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Share Tech Mono', monospace;
    background: $mainBg;
}
#root{
    width: 100%;
    height: 100%;
    position: relative;
}
.App{
    
    color: $txtColor;
    text-align: center;
}