/* COLORS */
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
.Header {
  width: 100%;
  background: #0D1117;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  padding: 1em;
  margin-bottom: 0;
  top: 0;
}

.Header .nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Header .nav ul li {
  padding: 1em;
}

.Header a {
  color: whitesmoke;
  text-decoration: none;
}

.Header a:hover {
  color: teal;
}

@media (max-width: 700px) {
  .Header {
    display: block;
  }
  .Header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* COLORS */
.Showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  height: 90vh;
  margin-top: 1.5em;
}

.Showcase .img {
  background-image: url("/Users/rickyanchores/Desktop/DevRicky/Project React/React Portfolio/myportfolio/src/images/me3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 8em;
  border: 1em silver solid;
}

.Showcase .img:hover {
  border: 1.5em teal solid;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.Showcase h1 {
  font-size: 5em;
}

.Showcase h3 {
  font-size: 2em;
}

@media (min-width: 700px) {
  .Showcase .img {
    margin-top: 8em;
  }
}

.Cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Cards .card {
  width: 400px;
  background-color: transparent;
  margin: 1em;
  border: 2px solid #333;
}

.Cards .card img {
  width: 100%;
  height: 250px;
}

.Cards .card .imgA {
  background-image: url("/Users/rickyanchores/Desktop/DevRicky/Project React/React Portfolio/myportfolio/src/images/kahoii.jpg");
  background-size: cover;
}

.Cards .card .imgB {
  background-image: url("/Users/rickyanchores/Desktop/DevRicky/Project React/React Portfolio/myportfolio/src/images/zenkana.jpg");
  background-size: cover;
}

.Cards .card .imgC {
  background-image: url("/Users/rickyanchores/Desktop/DevRicky/Project React/React Portfolio/myportfolio/src/images/rickolor.jpg");
  background-size: cover;
}

.Cards .card .imgD {
  background-image: url("/Users/rickyanchores/Desktop/DevRicky/Project React/React Portfolio/myportfolio/src/images/todoApp.jpg");
  background-size: cover;
  background-position: top;
  background-size: 750px;
}

.Cards .card .imgE {
  background-image: url("/Users/rickyanchores/Desktop/DevRicky/Project React/React Portfolio/myportfolio/src/images/Citypx.jpg");
  background-size: cover;
}

.About {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #ccc;
}

.About img {
  width: 450px;
  height: 650px;
  background-image: url("/Users/rickyanchores/Desktop/DevRicky/Project React/React Portfolio/myportfolio/src/images/me2.jpg");
  background-size: cover;
  background-position: center;
}

.About .txt-about {
  font-size: 1.5em;
  padding: 1em;
}

.About .txt-about ul {
  list-style: none;
}

.About .txt-about ul li {
  line-height: 1.4;
}

@media (max-width: 700px) {
  .About {
    display: block;
  }
  .About img {
    width: 100%;
  }
}

/* COLORS */
.Footer {
  padding: 5em;
}

.Footer .Contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer .Contacts .nav-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.Footer .Contacts .nav-media ul li {
  margin: 1em;
}

.Footer .Contacts .nav-media ul li a {
  text-decoration: none;
  color: #ccc;
}

.Footer .Contacts .nav-media ul li a:hover {
  color: teal;
}

@media (max-width: 700px) {
  .Footer {
    display: block;
  }
  .Footer .Contacts {
    display: block;
  }
  .Footer .Contacts .nav-media ul {
    display: block;
  }
}

#background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

button {
  padding: 0.5em 1em;
  margin: 1em;
  background: #0D1117;
  border: 2px solid whitesmoke;
}

button a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bolder;
}

button:hover {
  background: whitesmoke;
}

button:hover a {
  color: #0D1117;
}

/* FONTS*/
/* COLORS */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Share Tech Mono', monospace;
  background: #0D1117;
  line-height: 1.6;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}

.App {
  color: whitesmoke;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */