@import "./styles/Header";
@import "./styles/Showcase";



/* COLORS */
$mainBg: #0D1117;
$mainColor: #333;
$secondColor: teal;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace;
    background: $mainBg;
}
.App{
    
    color: $txtColor;
    text-align: center;
}